@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Winter 2021 WEB522</h1>
    <p class="lead">YuChe Liu yliu545 #134379189</p>
    <p><a href="http://yliu545-wa-web524-a6.azurewebsites.net/" class="btn btn-primary btn-lg">A6 Azure Link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a track to album#1</h2>
        <p>
            We now can upload a clip within a track.
        </p>
        <p><a class="btn btn-default" href="/Album/1/AddTrack">Add track &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit, Delete Tracks</h2>
        <p>you can upload new clip to a track or delete a track</p>
        <p><a class="btn btn-default" href="/Tracks">track list &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Multiple Media under an artist</h2>
        <p>There are rich-text, photos, documents, audio.</p>
        <p><a class="btn btn-default" href="Artists/Details/1">View Artist#1 &raquo;</a></p>
    </div>
</div>